html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.App {

}

.tabList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.tabList>.tab {
  padding: 10px;
}

.tab-panel {
  background-color: #ddd;
}

.tab:hover {
  cursor: pointer;
}

.tab-panel > p {
  padding: 20px;
}